@import "tailwindcss";

body {
  cursor: none;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

/* .custom-gradient {
  background: linear-gradient(to right,
      #bfdbfe 0%,
      #ffffff 25%,
      #bfdbfe 50%,
      #ffffff 75%,
      #bfdbfe 100%);
} */